---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="bg-white">
    <div
      class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
    >
      <div class="font-light text-gray-900 sm:text-lg">
        <h2 class="mb-4 text-4xl tracking-tight font-extrabold">
          Try the new dishes at <span class="text-red-600">Brutal Restobar</span
          >
        </h2>
        <p class="mb-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, unde
          voluptates repudiandae iste placeat odit architecto similique
          consectetur non. Veritatis at eaque, quod aspernatur quis deleniti
          sapiente excepturi tempora ad.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, dolorum! Lorem ipsum dolor sit.
        </p>
      </div>
      <div class="grid grid-cols-2 gap-4 mt-8">
        <img
          class="w-full rounded-lg hover:scale-95 transition-all"
          src="https://i.pinimg.com/236x/54/02/27/540227793364874118192f2b155dd8a6.jpg"
          alt="new dishes 1"
        />
        <img
          class="mt-4 w-full lg:mt-10 rounded-lg hover:scale-95 transition-all"
          src="https://e00-telva.uecdn.es/assets/multimedia/imagenes/2022/04/26/16509715962542.jpg"
          alt="new dishes 2"
        />
      </div>
    </div>
  </section>
</Layout>
